# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.msi
*.nupkg

# Include phony packages for running tests
!pkg/installer/testdata/packages/*/*
!pkg/status/testdata/*

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# OS files
*.DS_Store

# WIX files
*.wixpdb
*.wixobj
/localBuildUpdateGorilla.ps1

# Local go
/go

# Local builds
/release